body {
    background-color: #19282C;
}
.flex{
    display: flex;
}
.spaceBetween{
    justify-content: space-between;
}
.alignCenter{
    align-items: center;
}
.listButton{
    position: absolute;
    height: min-content!important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    top: 10em;
    left: 0em;
    z-index: 1000;
}
.treeDButton {
    position: absolute;
    height: min-content !important;
    padding-left: 0 !important;
    padding-right: 1em !important;
    top: 10em;
    right: 0em;
    z-index: 1000;
}
.twoDButton {
    position: absolute;
    height: min-content !important;
    padding-left: 0 !important;
    padding-right: 1em !important;
    top: 14em;
    right: 0em;
    z-index: 1000;
}
.openLeft {
    left: 15em;
    margin-left: .25em !important;
}
.openRight {
    right: 22em;
}
.actual {
    background-color: #51FE00 !important;
    border-width: 1px !important;
    border-color: #51FE00 !important;
}
.tifView{
    position: static;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.centered {
    position: absolute;
    left: calc(50% - 17em);
}
.sidebar h2 {
    background-color: #3C5055;
    padding-left: 0.5em;
}
div[id=app] p {
    color: #cccccc;
    size: 1em;
}
h1, .green {
    color: #51FE00;
}
.pointcloud {
    display: block !important;
    position: static;
    height: 90vh;
}
.pushable:not(body) {
    -webkit-transform: unset;
    transform: unset;
}
.SidebarRight {
    width: 22em !important;
    margin-left: -15em!important;
}
.ui.left.sidebar.SidebarLeft{
    width: 15em !important;
    margin-left: 0 im !important;
    overflow-y: visible !important;
}
.position {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.inputError {
    color: red;
}
.pointcloudsList{
    width: 100%;
    height: 100%;
    background: #19282C;
}
.listEntry {
    width: 100%;
    background-color: #19282C !important;
    border-style: solid !important;
    border-radius: 2px !important;
    border-color: #959A9B !important;
    position: relative;
}
.listEntry:hover{
    border-color: #3C5055 !important;
}
.SidebarLeft p {
    margin:0;
    text-align: left;
}
.SidebarRight p {
    margin:0 0 0.5em;
    text-align: left;
}
.listEntry h3{
    color: #959A9B;
}
.listEntry p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.pointcloudsList form, .around{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.pointcloudsList form div{
    width: 75%;
}
.scrollList {
    width: 100%;
    height: calc(100% - 80px);
    padding-bottom: 1em;
    padding-top:1em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.listEntry span {
    width: 0px;
    height: 0px;
    border-bottom: 90px solid #51FE00;
    border-left: 50px solid transparent;
    position: absolute;
    right: 0em;
    bottom: 0em;
}
.private {
    border-bottom-color:coral !important;
}
.group {
    border-bottom-color:orchid !important;
}
.state {
    position: absolute;
    right: 0em;
    bottom: 1em;
    transform:rotate(-60deg);
    -ms-transform:rotate(-60deg); /* IE 9 */
    -webkit-transform:rotate(-60deg);
    z-index: 100000;
    color: black !important;
}
.select {
    border-width: 5px !important;
    border-color: #51FE00 !important;
}
.quick_buttons_container {
    display: none !important;
}
.ui.fluid.button.send{
    margin-top: 1em;
    width: 100%;
}
.scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
div[id=app] {
    height: 100%;
}
.stretched.row .flex.spaceBetween.alignCenter ~ div {
    background-color: #3C5055;
    width: 100% !important;
    padding-left: -1em !important;
    padding-right: -1em !important;
}
.error p {
    color: red !important;
}
.ui.secondary.segment.centered.slim {
    width: 32em;
}
.ui.green.inverted.button:hover {
    background-color: #51FE00;
}
.ui.green.inverted.button {
    border-style: none;
    box-shadow: none !important;
    color: #51FE00;
    padding: 0.8em;
}
.ui.modal.transition.visible.active {
    top:10%
}

.ui.overlay.visible.sidebar {
    background-color: #19282C;
}
.margin a, div.field > a, div.field > input[type="file"], div.content a {
    margin: 0 .25em 0 0;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background-color: rgb(224, 225, 226);
    color: rgba(0,0,0,.6) !important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .78571429em 1.5em;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition-property: opacity, background-color, color, box-shadow, background;
    transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    transition-timing-function: ease, ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    -webkit-tap-highlight-color: transparent;
}
.margin a, .margin button {
    background-color: #a6a9aa !important;
    width: calc(50% - 1.25em / 2) !important;;
}
.margin a {
    padding-left: 1em;
}
.margin a:hover, div.field > a:hover, div.content a:hover {
    background-color: #a6a9aa !important;
}
.tifView > canvas {
    width: auto !important;
    height: auto !important;
}
.ui.overlay.right.visible.sidebar.SidebarRight {
    overflow-x: hidden !important;
}
.margin {
    margin-left: 1em;
    margin-right: 1em;
}
.ui.message {
  margin-top: 0 !important;
}
i.icon.triangle.left:before {
    padding-left: 1em !important;
}
.min {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 1.2857em;
    font-weight: 700;
    background-color: #3C5055!important;
    background: #f6f6f6 50% 50% repeat-x;
    color: #959A9B;
    background-color: rgb(246, 246, 246);
    border: 1px solid black;
    margin: 2px 0 0 0;
    padding: 4px 10px 4px 30px;
    box-shadow: 0px 3px 3px #111;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1em;
}
.load {
    width: 100%;
    background-color: #a6a9aa !important;
    margin-top: 0.1em;
}
.load:hover {
    background-color: #3C5055 !important;
}