<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.2.0/dist/semantic.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="{% static "frontend/favicon.ico" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
  <title>Point Cloud Browser</title>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "potree_libs/build/potree/potree.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "potree_libs/jquery-ui/jquery-ui.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "potree_libs/openlayers3/ol.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "potree_libs/spectrum/spectrum.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "potree_libs/jstree/themes/mixed/style.css" %}">

  <script src="{% static "potree_libs/jquery/jquery-3.1.1.min.js" %}"></script>
  <script src="{% static "potree_libs/spectrum/spectrum.js" %}"></script>
  <script src="{% static "potree_libs/jquery-ui/jquery-ui.min.js" %}"></script>
  <script src="{% static "potree_libs/three.js/build/three.js" %}"></script>
  <script src="{% static "potree_libs/other/BinaryHeap.js" %}"></script>
  <script src="{% static "potree_libs/tween/tween.min.js" %}"></script>
  <script src="{% static "potree_libs/d3/d3.js" %}"></script>
  <script src="{% static "potree_libs/proj4/proj4.js" %}"></script>
  <script src="{% static "potree_libs/openlayers3/ol.js" %}"></script>
  <script src="{% static "potree_libs/i18next/i18next.js" %}"></script>
  <script src="{% static "potree_libs/jstree/jstree.js" %}"></script>
  <script src="{% static "potree_libs/build/potree/potree.js" %}"></script>
  <script src="{% static "potree_libs/plasio/js/laslaz.js" %}"></script>
  <script src="{% static "plotty/plotty.min.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/geotiff"></script>
</head>
<body>
  <div id="app"></div>
  {% load static %}
  <script src="{% static "frontend/main.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>